:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: #234257;
    --secondary-color: #222222;
    --error-color: #FF0000;
}

.background {
    background-image: url(https://www.cnet.com/a/img/resize/c8cce0021ae26d1b7472930e19da0cbe2316472c/hub/2014/11/16/3f546a04-9997-4126-a6ae-14c58c3a210e/dogsdandd.jpg?auto=webp&fit=crop&height=675&width=1200);
    background-size: cover;
    margin: 20px;
    counter-reset: section;
}

.header {
    /* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to top, #234257, #89b2ae);
    opacity: 0.82;
    color: var(--secondary-color);
    padding: 0 30px;
    border-radius: 25px;
}

.header_home {
    font-size: 45px;
    line-height: 50px;
    height: 100px;
    text-decoration: none;
    color: #000000;
}


.header_nav_link {
    margin-left: 20px;
    vertical-align: top;
    line-height: 40px;
}

.about {
    margin-left: 20px;
}

.button, button {
    border-radius: 3px;
    border: 1.5px solid black;
    background: #222 repeat-x;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    font-weight: bold;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    text-shadow: 0 -1px 1px #222;
    border-bottom: 1px solid #222;
    position: relative;
    cursor: pointer;
}

.button:hover, button:hover {
    background: #A9A9A9;
}

.card {
    color: #000000;
    backdrop-filter: blur(14px);
    opacity: .85;
    background-image: linear-gradient(to top, #234257, #89b2ae 70%);
    margin: 30px;
    padding: 10px 20px;
    border-radius: 25px;
}

.validated-field:invalid {
    outline: 2px solid var(--error-color);
}
.validated-field:focus:invalid {
    color: var(--error-color);
}

.card-content {
    max-width: 500px;
}

.card-content .form-field {
    display: flex;
    flex-direction: column;
}

#concert-list li {
    margin-bottom: 1rem;
}

.state {
    display: none;
}

.state.active {
    display: block;
}

thead {
    display: flex;
    flex-direction: column;
}

th {
    cursor: pointer;
    border-radius: 8px;
    padding: 0 30px;
    border: 1px solid black;
    background-image: linear-gradient(to bottom, #dddddd, #607d8b);
    display: flex;
    align-items: center;
    width: 10%;
}

.headers {
    width: 89%;
}

tr {
    margin: 10px 0px;
    display: flex;
    width: 100%;
}

td {
    padding: 0 20px;
    border: 1px solid black;
    background-image: linear-gradient(to bottom, #dddddd, #607d8b);
    border-radius: 7px;
    align-items: center;
    display: flex;
    width: 100%;
}

td button {
    margin-left: auto;
}

#myInput {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 15%;
    font-size: 16px;
    padding: 2px 2px 2px 2px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

#myTable th, #myTable td {
    text-align: center;
    padding: 12px;
}

#myTable tr {
    border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
}