:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: #FFA500;
    --secondary-color: #222222;
    --error-color: #FF0000;
}



.background {
    background-color: #222222;
    margin: 10px;
    counter-reset: section;
}

.header {
    /* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0 20px;
}

.header_home {
    font-size: 45px;
    line-height: 50px;
    height: 100px;
    text-decoration: none;
    color: #000000;
}

.header_nav_link {
    margin-left: 20px;
    vertical-align: top;
    line-height: 40px;
}

.about {
    margin-left: 20px;
}

.button, button {
    background: #FFFFFF;
    padding: 3px;
    border-radius: 3px;
    text-decoration: none;
    color: #000000;
    border: 1px solid black;
    cursor: pointer;
}

.button:hover, button:hover {
    background: #A9A9A9;
}

.card {
    color: #000000;
    background-color: #FFA500;
    margin: 30px;
    padding: 10px 20px;
}

.validated-field:invalid {
    outline: 2px solid var(--error-color);
}
.validated-field:focus:invalid {
    color: var(--error-color);
}

.card-content {
    max-width: 500px;
}

.card-content .form-field {
    display: flex;
    flex-direction: column;
}

#concert-list li {
    margin-bottom: 1rem;
}

.state {
    display: none;
}

.state.active {
    display: block;
}
